body {
  color: #5c1a1b;
  background-color: whitesmoke;
  font-family: 'Lora', serif;
  /* margin-top: 30px; */
}
.resize > img {
  border: 1px solid;
  width: 550px;
  height: 320px;
  display: flex;
  margin-top: 25px;
  margin-left: 25px;
  justify-content: space-around;
}


/* #navigation {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  background-color: #F6CFDE;
  border-radius: 30px;
  /* background-position: top; */

#map {
  border: 8px solid;
  display: flex;
  justify-content: center;
  width: 75%;
  height: 600px;
}

.nav-bar {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  background-color: #F6CFDE;
  border-radius: 30px;
  font-family: 'Fredericka the Great', cursive;
  font-size: 18px;
  /* opacity: .6; */
  list-style-type: none;
  position: fixed;
  top: 0;
  width: 100%;
  /* .nav is bloated. Find a way to reduce this later. */
}

h1 {
  color: darkblue;
  font-family: 'Fredericka the Great', cursive;
  display: flex;
  justify-content: center;
}

.about {
  list-style: circle;
  display: flex;
  justify-content: center;
  justify-content: space-around;
}

/* ul {
  color: #c4f3ed;
} */

p {
  color: #5c1a1b;
  padding: 90px;
  margin: 45px;
}

p > #start {
  margin-left: 50px;
}
/* bad code fix later */
