body {
  color:  #5c1a1b;
  background-color: violet;
  font-family: 'Lora', serif;
}

#navigation {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  background-color: #F6CFDE;
  border-radius: 30px;
  /* background-position: top; */
}

.nav-bar {
  display: inline;
  justify-content: center;
  justify-content: flex-end;
  background-color: #F6CFDE;
  font-family: 'Fredericka the Great', cursive;
  font-size: 18px;
  opacity: .6;
  list-style-type: none;
}

h1 {
  color: darkblue;
  font-family: 'Fredericka the Great', cursive;
  display: flex;
  justify-content: center;
}

/* ul {
  color: #c4f3ed;
} */

p {
  color: black;
  padding: 90px;
  margin: 45px;
}
